*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
fstraverse-parent/fst-count-plugin/.settings/org.eclipse.mylyn.tasks.ui.prefs
fstraverse-parent/fstraverse-tool/.settings/org.eclipse.mylyn.tasks.ui.prefs
fstraverse-parent/.settings/org.eclipse.mylyn.tasks.ui.prefs
fstraverse-parent/target/
